<h1 style="color:white;font-size: 22px; padding-top: 22px">{{title}}</h1>

@if (color === 'red') {
  <div style="width: 100px; height: 100px; background-color: red; margin: 10px;"></div>
} @else if (color === 'green') {
  <div style="width: 100px; height: 100px; background-color: green; margin: 10px;"></div>
} @else if (color === 'blue') {
  <div style="width: 100px; height: 100px; background-color: blue; margin: 10px;"></div>
} @else if (color === 'yellow') {
  <div style="width: 100px; height: 100px; background-color: yellow; margin: 10px;"></div>
} @else {
  <div style="width: 100px; height: 100px; background-color: gray; margin: 10px;">No Color</div>
}
