<form #formRef="ngForm" class="p-6 bg-white rounded-lg space-y-6">
  <h3 class="text-xl font-semibold text-white bg-blue-600 px-6 py-4 rounded-md">
    Startup Funding Details
  </h3>

  <label class="flex items-center gap-2 text-lg font-medium">
    <input type="checkbox" [(ngModel)]="isFundingDetailsEnabled" name="isFundingDetailsEnabled" />
    Funding Details
  </label>

  <div class="overflow-x-auto m-10">
    <table class="min-w-full table-auto border border-gray-300 rounded-md text-sm">
      <thead>
        <tr class="bg-gray-100 text-gray-700 font-semibold text-center">
          <th class="border px-4 py-2 whitespace-nowrap">SN</th>
          <th class="border px-4 py-2">Scheme Name*</th>
          <th class="border px-4 py-2">Institution Name*</th>
          <th class="border px-4 py-2">Institution Type*</th>
          <th class="border px-4 py-2">Format of Funding*</th>
          <th class="border px-4 py-2">Sanction Amount*</th>
          <th class="border px-4 py-2">Disbursement Amount*</th>
          <th class="border px-4 py-2">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let element of fundingRows; let i = index" class="text-center hover:bg-gray-50">
          <td class="border px-4 py-2">{{ i + 1 }}</td>

          <td class="border px-4 py-2 min-w-[200px]">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput appAlphabetOnly [(ngModel)]="fundingRows[i].schemeName" name="schemeName{{i}}" #schemeName="ngModel"
              placeholder="Scheme Name" [disabled]="element.edit" required />
            <mat-error *ngIf="schemeName.invalid && schemeName.touched">This field is required.</mat-error>
          </mat-form-field>
          
          </td>

          <td class="border px-4 py-2 min-w-[200px]">
              <mat-form-field appearance="outline" class="w-full">
            <input matInput appAlphabetOnly [(ngModel)]="fundingRows[i].institutionName" name="institutionName{{i}}" #institutionName="ngModel"
              placeholder="Institution Name" [disabled]="element.edit" required />
            <mat-error *ngIf="institutionName.invalid && institutionName.touched">This field is required.</mat-error>
          </mat-form-field>
          </td>

          <td class="border px-4 py-2 min-w-[180px]">
            <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="fundingRows[i].institutionType" name="institutionType{{i}}" #institutionType="ngModel"
              placeholder="Select Type" [disabled]="element.edit" required>
              <mat-option *ngFor="let type of incubatorTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
            <mat-error *ngIf="institutionType.invalid && institutionType.touched">This field is required.</mat-error>
          </mat-form-field>
          </td>

          <td class="border px-4 py-2 min-w-[180px]">
           <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="fundingRows[i].formatOfFunding" name="formatOfFunding{{i}}" #formatOfFunding="ngModel"
              placeholder="Select" [disabled]="element.edit" required>
              <mat-option *ngFor="let format of fundingFormats" [value]="format">{{ format }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formatOfFunding.invalid && formatOfFunding.touched">This field is required.</mat-error>
          </mat-form-field>
          </td>

          <td class="border px-4 py-2 min-w-[160px]">
              <mat-form-field appearance="outline" class="w-full">
            <input matInput appAlphanumeric type="text" [(ngModel)]="fundingRows[i].sanctionAmount" name="sanctionAmount{{i}}" #sanctionAmount="ngModel"
              placeholder="Sanction Amount" [disabled]="element.edit" required />
            <mat-error *ngIf="sanctionAmount.invalid && sanctionAmount.touched">This field is required.</mat-error>
          </mat-form-field>
          </td>

          <td class="border px-4 py-2 min-w-[180px]">
             <mat-form-field appearance="outline" class="w-full">
            <input matInput appAlphanumeric type="text" [(ngModel)]="fundingRows[i].disbursementAmount" name="disbursementAmount{{i}}" #disbursementAmount="ngModel"
              placeholder="Disbursement Amount" [disabled]="element.edit" required />
            <mat-error *ngIf="disbursementAmount.invalid && disbursementAmount.touched">This field is required.</mat-error>
          </mat-form-field>
          </td>

          <td class="border px-4 py-2 min-w-[100px]">
            <button *ngIf="element.edit" mat-button color="primary" (click)="editRow(i)">Edit</button>
            <button *ngIf="!element.edit" mat-button color="primary" [disabled]="formRef.invalid"
              (click)="saveRow(i)">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end gap-4 mt-4">
    <button mat-raised-button color="primary" (click)="addRow()">Add New Row</button>
  </div>

  <div class="flex justify-end gap-4 mt-6">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
    <button mat-raised-button color="primary" [disabled]="formRef.invalid" (click)="onSave()">Save & Next</button>
  </div>
</form>