<form #formRef="ngForm">
  <h3 class="bg-blue-600 text-white p-4 mb-4 rounded">Startup Funding Details</h3>

  <mat-checkbox [(ngModel)]="isFundingDetailsEnabled" name="isFundingDetailsEnabled" class="mb-4 text-lg font-medium">
    Funding Details
  </mat-checkbox>

  <div class="overflow-x-auto">
    <table mat-table [dataSource]="fundingRows" class="mat-elevation-z8 min-w-full bg-white border">

      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium text-center">SN</th>
        <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="schemeName">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Scheme Name*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [(ngModel)]="fundingRows[i].schemeName" name="schemeName{{i}}" #schemeName="ngModel"
              placeholder="Scheme Name" [disabled]="element.edit" required />
            <mat-error *ngIf="schemeName.invalid && schemeName.touched">This field is required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="institutionName">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Institution Name*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [(ngModel)]="fundingRows[i].institutionName" name="institutionName{{i}}"
              #institutionName="ngModel" placeholder="Institution Name" [disabled]="element.edit" required />
            <mat-error *ngIf="institutionName.invalid && institutionName.touched">This field is required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="institutionType">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Institution Type*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="fundingRows[i].institutionType" name="institutionType{{i}}"
              #institutionType="ngModel" placeholder="Select Type" [disabled]="element.edit" required>
              <mat-option *ngFor="let type of incubatorTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
            <mat-error *ngIf="institutionType.invalid && institutionType.touched">This field is required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="formatOfFunding">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Format of Funding*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="fundingRows[i].formatOfFunding" name="formatOfFunding{{i}}"
              #formatOfFunding="ngModel" placeholder="Select" [disabled]="element.edit" required>
              <mat-option *ngFor="let format of fundingFormats" [value]="format">{{ format }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formatOfFunding.invalid && formatOfFunding.touched">This field is required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="sanctionAmount">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Sanction Amount*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput type="number" [(ngModel)]="fundingRows[i].sanctionAmount" name="sanctionAmount{{i}}"
              #sanctionAmount="ngModel" placeholder="Sanction Amount" [disabled]="element.edit" required />
            <mat-error *ngIf="sanctionAmount.invalid && sanctionAmount.touched">This field is required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="disbursementAmount">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium">Disbursement Amount*</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <input matInput type="number" [(ngModel)]="fundingRows[i].disbursementAmount" name="disbursementAmount{{i}}"
              #disbursementAmount="ngModel" placeholder="Disbursement Amount" [disabled]="element.edit" required />
            <mat-error *ngIf="disbursementAmount.invalid && disbursementAmount.touched">This field is
              required.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 font-medium text-center">Action</th>
        <td mat-cell *matCellDef="let element; let i = index" class="text-center">
          <button *ngIf="element.edit" mat-button color="primary" (click)="editRow(i)">Edit</button>
          <button *ngIf="!element.edit" mat-button color="primary" [disabled]="formRef.invalid"
            (click)="saveRow(i)">Save</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="flex justify-end gap-4 mt-4">
    <button mat-raised-button color="primary" (click)="addRow()">Add New Row</button>
  </div>

  <div class="flex justify-end gap-4 mt-6">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
    <button mat-raised-button color="primary" [disabled]="formRef.invalid" (click)="onSave()">Save & Next</button>
  </div>
</form>