<div class="m-32 px-6">
  <h2 class="bg-blue-600 text-white text-lg font-semibold p-4 mb-6 rounded">
    Comment Section
  </h2>

  <form [formGroup]="commentSectionForm" (ngSubmit)="onSubmit()" class="space-y-6">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>
        Comment
      </mat-label>
      <textarea matInput formControlName="comment" rows="3" maxlength="500"></textarea>
      <mat-error *ngIf="commentSectionForm.get('comment')?.hasError('required')">
        This field is required.
      </mat-error>
      <mat-error *ngIf="commentSectionForm.get('comment')?.hasError('wordCountExceeded')">
        Maximum 500 words allowed.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="py-2 mt-4" [disabled]="commentSectionForm.invalid">
      Submit
    </button>

  </form>

</div>